$dark-grey: #323232;
$light-grey: #616161;

.dark-grey {background: $dark-grey !important;}
.light-grey {background: $light-grey !important;}

.under-header { margin-top: 50px !important;}

.dogs-color {background-color: #ff6f9e !important; }
.cats-color {background-color: #8787ff !important; }
.fish-color {background-color: #ffb93f !important; }
.birds-color {background-color: #7bff81 !important; }
.small-animals-color {background-color: #7be5ff !important; }

.link { text-decoration: underline; }

.logo {
	background: url(../img/Kowloon-Icons-50.png) -50px 0px;
	height: 50px;
	width: 50px;
}

.content-logo-wrapper { 
	height: 50px;

	.logo-text {
		margin-top: 12.5px;
		padding: 3px 10px 3px 3px;
		height: 25px;
		background-color: $dark-grey;
		float: left;
		position: relative;
	}

	.after {margin-left: 20px;}

	.logo-text:before {
		border-left: 12px solid transparent;
		border-right: 12px solid $dark-grey;
		border-bottom: 13px solid transparent;
		border-top: 12px solid transparent;
		left: -24px;
		bottom: 0;
		content: "";
		height: 13px;
		position: absolute;
	}

	.logo-text .circle {
		margin: 5px;
		width: 10px;
		height: 10px;
		float: left;
	}

}

.fade_out { opacity: 0; }

.slider-header, #about-header {
	width: calc(100vw - 50px);
	margin-left: 50px;
	height: 430px;
	background-color: #d2d2d2;
	position: relative;
	
	/* Logo */
	#logo-full {
		position: absolute;
		z-index: 3;
		margin-top: 20px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

	.slider { height: 420px !important; }
	.slider .indicators { z-index: 2; }
	.slider .indicators .indicator-item {
		height: 13px;
		width: 13px;
		border: 1px solid #959595;
	}
	.slider .indicators .indicator-item.active { background-color: $dark-grey; }
	
	.slides { height: 430px !important; }
}

.fade_in { opacity: 1 !important; }

.hot-item-overlay {
	background-color: rgba(255, 111, 158, 0.85);
	position: absolute;
	width: calc(100% - 10px);
	height: 200px;
	opacity: 0;
	-webkit-transition: opacity 0.4s; /* Safari */
	transition: opacity 0.4s;

	img { 
		margin: 0 auto;
		display: block;
	}

	a {
		position: absolute;
		left: 50%;
		top: 55%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
}

.hot-item-text { margin: 5px 10px; }

.news-letter { 
	height: 185px; 
	padding: 0 0.75rem;
	margin-bottom: 100px;

	div:first-child {
		background: url(../img/news-letter-bg.jpg);
		height: 100%;
	}
	#subscribe {
		height: 100%;
		background-color: #5f5f5f;
		padding: 15px 20px;

		span { font-size: 16pt; }

		input {
			height: 35px;
			width: 70%;
		}

		button {
			border: none;
			min-width: 40px;
			height: 35px;
			background-color: $dark-grey;
			color: #fff;
		}
	}
}

input, textarea {background-color: #fff !important; }

.color-circles {
	position: absolute;
	top: 10px;
	left: 10px;

}
.color-circle { 
	border-radius: 50%;
	border: 1px solid #fff;
	margin-right: 5px;
	width: 15px !important;
	height: 15px !important;
	float: left;
}

.questions ul {border: none;}
.questions li {margin: 10px 0;}

ul.collapsible {
	.collapsible-body, .collapsible-header {
		border: none !important;
		background-color: #717171 !important;
	}
	.collapsible-header { 
		padding: 10px 15px 10px 25px; 
		font-size: 20px;
		font-weight: bold;
	}
	.collapsible-header span { width: 100%; }
	.collapsible-header i {
		font-size: 20px;
		padding: 5px;
	}
	.collapsible-body {padding: 0;}
	.collapsible-body > div { padding: 5px 30px 20px; }
}

.button {
	height: 35px;
	width: 200px;
	border: none;
	margin-top: 10px;
}	




body{position: relative; }
/********** NAV **********/
#app {
	/*flex used to make nav as high as parent*/
	position: relative;
	display: flex;
	display: -webkit-box;      
	display: -moz-box;         
	display: -ms-flexbox;      
	display: -webkit-flex; 
}
/*--> #nav */
#nav {
	line-height: 0;
	/*no space between icons*/
	position: fixed;
	/*to absolutely position the logo*/
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	float: left;
	width: 50px;
	min-height: 100vh;
	background-color: $dark-grey;
	z-index: 5;

	li {
		list-style-type: none;
		padding: 0;
		cursor: pointer;
	}

	li a { display: block; }

	img {
		width: 50px;
		height: 50px;
	}

	a {
		position: relative;
		color: #fff;
	}

	a span {
		line-height: 50px;
		width: 100px;
		position: absolute;
		top: 0px;
		left: 60px;
		display: none;
	}

	.icon {
		width: 50px;
		height: 50px;
	}

	.divider#top { margin-bottom: 5px; }
	.divider#bottom { margin-top: 5px; }

	.logo {
		height: 50px;
		width: 50px;
		position: absolute !important; 
		left: 0;
		bottom: 0;
	}

	.grey-color { color: #a2a2a2; }

}
/********** COOKIE **********/
$orange: #e27500;
.swal2-modal {
	border-radius: 0;
	padding: 20px 100px !important;	
	background-color: #f7eade !important;

	.swal2-title { 
		margin-top: 100px;
		color: $orange;
		text-align: left;
		font-family: 'Choplin'
	}
	.swal2-content {text-align: left; }
	.swal2-confirm {
		border-radius: 0 !important;
		background-color: $orange !important;
		border: none;
		display: block;
		margin: 30px 0;
	}

}



/********** HOME **********/
/*-------> HEADER <-------*/
/* -> see top */

#home-content { padding-left: 50px; }

/*-------> CONTENT <-------*/
/*          Icons          */
#home-icons .col { 
	position: relative; 
	text-align: center;
	height: 80px;
	border-right: 1px solid $light-grey;
}
.home-icon-wrapper { 
	position: relative; 
	margin-top: -20px;
	width: 100%;
	height: 95px;
}
.home-icon, .home-icon-active { 
	position: absolute;
	left: 0;
	width: 64px;
	height: 70px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-webkit-transition: opacity 0.4s; /* Safari */
	transition: opacity 0.4s;
}

.home-icon-text { 
	font-size: 14pt; 
	text-transform: uppercase;
}

/*        Hot items        */
/*--> #hot-items-wrapper*/
.hot-items-wrapper {
	margin-top: 75px; 
	h2{ text-transform: uppercase; }
}
.hot-item {
	background-color: #565656;
	border: 1px solid #717171;
	position: relative; 
	height: 250px;
	padding: 5px !important;
}

.hot-item > img {
	width: 100%;
	height: 200px;
	object-fit: none;
	object-position: 80% 60%;
	overflow: hidden;
}
/*--> .hot-item-overlay */
/* --> SEE TOP */

/*        Subscribe        */
/* --> SEE TOP */

/********** ABOUT **********/
/*-------> HEADER <-------*/
#about-header, #about-text, #about-form, #about-questions { margin-bottom: 100px; }
#about-header #header-img {
	width: 100%;
	height: 430px;
	object-fit: cover;
}
#about-content .logo, #productview-content .logo {float: left;}
#about-content {

	#about-contact {
		border-left: 1px solid $light-grey;
		border-bottom: 1px solid $light-grey;
		padding: 10px 40px;

		li {list-style-type: disc !important;}
	}

	#about-form { 

		input {
			height: 35px;
			width: 200px;
			display: block;
			margin-top: 10px !important;
		}

		textarea {
			margin-top: 10px !important;
			height: 150px;
		}

		label {
			font-size: 1rem;
			color: #fff;
		}

		.button {background-color: #ff6f9e !important; }

	} 
}

/********** PRODUCT VIEW **********/
#productheader {margin-bottom: 100px !important;}
#productview-content {

	#range-slider {
		height: 8px;
		width: 50%;

		.noUi-handle {
			width: 14px;
			height: 14px;
			left: -10px;
			top: -4px;
			border-radius: 50%;
		}
		.noUi-handle:before, .noUi-handle:after { width: 0; height: 0 }
		.noUi-connect { background-color: #9a9a9a; } 
	}

	.range-input { 
		position: relative; 
		width: 19%;

		input#lowest-range, input#highest-range {
			width: 80%;
			height: 50px;
			margin-left: 5%;
			padding-left: 40px;
			border: 2px solid #cecece;
		}
		#euro { 
			position: absolute; 
			left: 20px;
			top: 16px;
			line-height: 20px;
		}
	}

	#dd-sort { background-color: $light-grey; }
	#sortnames a{ color: #000 !important;}

	.hot-items-wrapper .hot-item { height: 200px; }
	.hot-items-wrapper .hot-item-overlay, .hot-item > img {height: 150px; }
	
	#spotlight { height: 420px !important; }
	#spotlight div { height: 100%;}
	#spotlight img {
		width: 100%;
		height: 60%;
		object-fit: cover;
	}

	#spotlight button { 
		width: auto;
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
}
/********** PRODUCT DETAILS **********/
#productdetails-content {
	.item-imgs > img {
		width: 100%;
		height: 350px;
		object-fit: cover;
	}
	.img-collection {
		width: 32%;
		vertical-align: top;
		display: inline-block;
		text-align: left;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		margin: 0;

		img { 
			width: 100%; 
			height: 100px; 
			object-fit: cover;
		}
		img.unactive {}

		.caption { display: block; }
		
		.overlay {
			background: rgba(255, 255, 255, 0.4);
			position: absolute;
			top: 0;
			width: 100%;
			height: 100px;
			opacity: 0;
			z-index: 10;
			transition: all 0.5s ease;
		}
		.overlay.active {
		    opacity: 1;
		}

	}	
	.img-collection.center-img{ margin: 0 2%; }

	.colors {
		height: 15px;
		margin-left: 2px;
	}

	.icon-square {
		height: 50px;
		width: 50px;
		background-color: $light-grey;
		border: 1px solid #000;
	}
	
	.icon-circle {
		@extend .icon-square;
		border-radius: 50%;
	}

	.icon-triangle {
		width: 0; 
		height: 0; 
		border-left: 30px solid transparent;
		border-bottom: 50px solid #000;
		border-right: 30px solid transparent;
		position:relative;
	}

	.icon-triangle:after {
		content:'';
		width: 0; 
		height: 0; 
		border-left: 28px solid transparent;
		border-bottom: 47px solid $light-grey;
		border-right: 28px solid transparent;  
		position:absolute;
		left:-28px;
		top: 2px;
	}

	.hot-item {height: 212px;}
	.bx-wrapper {
		background: transparent;
		border: none;
		box-shadow: none;
		margin-bottom: 10px !important;
	}
	.bx-pager {display: none; }

}

/* FAQ */
#faq, #search{
    width:calc(100vw - 50px);
    min-height: 100vh;
    height: calc(100% + 20px);
    margin-left: 50px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    z-index: 4;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all 1s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
#faq.active, #search.active {
	transform: scale(1);
    -webkit-transform: scale(1);
}







