.primary-color { color: #fff !important; }

body { 
	background-color: #454545; 
	font-family: 'Arial', sans-serif;
}

@font-face {
    font-family: 'Choplin';
    src: url('../fonts/choplin/Choplin-Medium-DEMO.otf');
}

h1, h2, h3, h4, h5, p { color: #fff; }

h1, h2, h3, h4, h5 { 
	font-family: 'Choplin';
	text-transform: uppercase;
}

.bold {font-weight: bold; }
.secondary-color { color: #cecece !important; }
.capitalize { text-transform: capitalize; }
.choplin-font {
	font-family: 'Choplin' !important; 
	text-transform: uppercase;
}
.arial-font {
	font-family: 'Arial', sans-serif !important; 
	text-transform: none;
}

.normal-text {text-transform: none !important; }

.clear {clear: both; }

.divider {
	margin: 15px 10px;
	background-color: #454545;
}




.mar-none { margin: 0 !important; }
.mar-s { margin: 5px !important; }
.mar-m { margin: 10px !important; }
.mar-l { margin: 20px !important; }
.mar-xl { margin: 30px !important; }

.mar-top-none { margin-top: 0px !important; }
.mar-top-xs { margin-top: 5px !important; }
.mar-top-s { margin-top: 10px !important; }
.mar-top-m { margin-top: 20px !important; }
.mar-top-l { margin-top: 30px !important; }
.mar-top-xl { margin-top: 40px !important; }

.mar-right-none { margin-right: 0px !important; }
.mar-right-xs { margin-right: 5px !important; }
.mar-right-s { margin-right: 10px !important; }
.mar-right-m { margin-right: 20px !important; }
.mar-right-l { margin-right: 30px !important; }
.mar-right-xl { margin-right: 40px !important; }

.mar-btm-none { margin-bottom: 0px !important; }
.mar-btm-xs { margin-bottom: 5px !important; }
.mar-btm-s { margin-bottom: 10px !important; }
.mar-btm-m { margin-bottom: 20px !important; }
.mar-btm-l { margin-bottom: 30px !important; }
.mar-btm-xl { margin-bottom: 40px !important; }

.mar-left-none { margin-left: 0px !important; }
.mar-left-xs { margin-left: 5px !important; }
.mar-left-s { margin-left: 10px !important; }
.mar-left-m { margin-left: 20px !important; }
.mar-left-l { margin-left: 30px !important; }
.mar-left-xl { margin-left: 40px !important; }

.pad-s { padding: 5px !important; }
.pad-m { padding: 10px !important; }
.pad-l { padding: 20px !important; }
.pad-xl { padding: 30px !important; }

.pad-top-none { padding-top: 0px !important; }
.pad-top-xs { padding-top: 5px !important; }
.pad-top-s { padding-top: 10px !important; }
.pad-top-m { padding-top: 20px !important; }
.pad-top-l { padding-top: 30px !important; }
.pad-top-xl { padding-top: 40px !important; }

.pad-right-none { padding-right: 0px !important; }
.pad-right-xs { padding-right: 5px !important; }
.pad-right-s { padding-right: 10px !important; }
.pad-right-m { padding-right: 20px !important; }
.pad-right-l { padding-right: 30px !important; }
.pad-right-xl { padding-right: 40px !important; }

.pad-btm-none { padding-bottom: 0px !important; }
.pad-btm-xs { padding-bottom: 5px !important; }
.pad-btm-s { padding-bottom: 10px !important; }
.pad-btm-m { padding-bottom: 20px !important; }
.pad-btm-l { padding-bottom: 30px !important; }
.pad-btm-xl { padding-bottom: 40px !important; }

.pad-left-none { padding-left: 0px !important; }
.pad-left-xs { padding-left: 5px !important; }
.pad-left-s { padding-left: 10px !important; }
.pad-left-m { padding-left: 20px !important; }
.pad-left-l { padding-left: 30px !important; }
.pad-left-xl { padding-left: 40px !important; }



