
/********** NAV **********/
#hamburger-icon .icon { background: url(../img/Kowloon-Icons-50.png) 0 0; }
.active#search-icon, .active#faq-icon, .active#mail-icon {
     color: #323232; 
     background-color: #F6F6F6;
}
#search-icon .icon{ background: url(../img/Kowloon-Icons-50.png) 0px -50px; }
.active#search-icon .icon{ background: url(../img/Kowloon-Icons-50.png) -50px -50px;}
#faq-icon .icon { background: url(../img/Kowloon-Icons-50.png) 0px -100px; }
.active#faq-icon .icon { background: url(../img/Kowloon-Icons-50.png) -50px -100px; }
#mail-icon .icon { background: url(../img/Kowloon-Icons-50.png) -100px -50px; }
.active#mail-icon .icon { background: url(../img/Kowloon-Icons-50.png) -150px -50px; }
#dogs-icon .icon { background: url(../img/Kowloon-Icons-50.png) 0px -150px; }
.active#dogs-icon a { color: #ff6f9e; }
.active#dogs-icon .icon { background: url(../img/Kowloon-Icons-50.png) -50px -150px; }
#cats-icon .icon { background: url(../img/Kowloon-Icons-50.png) 0px -200px; }
.active#cats-icon a { color: #8787ff; }
.active#cats-icon .icon{ background: url(../img/Kowloon-Icons-50.png) -50px -200px;}
#fish-icon .icon { background: url(../img/Kowloon-Icons-50.png) 0px -250px; }
.active#fish-icon a { color: #ffb93f; }
.active#fish-icon .icon { background: url(../img/Kowloon-Icons-50.png) -50px -250px; }
#birds-icon .icon { background: url(../img/Kowloon-Icons-50.png) 0px -300px; }
.active#birds-icon a { color: #7bff81; }
.active#birds-icon .icon { background: url(../img/Kowloon-Icons-50.png) -50px 100px; }
#sa-icon .icon { background: url(../img/Kowloon-Icons-50.png) 0px 50px; }
.active#sa-icon a { color: #7be5ff; }
.active#sa-icon .icon { background: url(../img/Kowloon-Icons-50.png) -50px 50px; }



/********** HOME **********/
#home-dogs-icon { background: url(../img/Home-Icons.png) 0px 0px; }
#home-dogs-icon-active { background: url(../img/Home-Icons.png) 0px 70px; }
#home-cats-icon { background: url(../img/Home-Icons.png) -64px 0px; }
#home-cats-icon-active { background: url(../img/Home-Icons.png) -64px 70px; }
#home-fish-icon { background: url(../img/Home-Icons.png) -128px 0px; }
#home-fish-icon-active { background: url(../img/Home-Icons.png) -128px 70px; }
#home-birds-icon { background: url(../img/Home-Icons.png) -192px 0px; }
#home-birds-icon-active { background: url(../img/Home-Icons.png) -192px 70px; }
#home-sa-icon { background: url(../img/Home-Icons.png) 128px 0px; }
#home-sa-icon-active { background: url(../img/Home-Icons.png) 128px 70px; }
#home-plus-icon { background: url(../img/Home-Icons.png) 64px 0px; }
#home-plus-icon-active { background: url(../img/Home-Icons.png) 64px 70px; }


