<div id="nav" ng-mouseenter="header.navEnter()" ng-mouseleave="header.navLeave()">
	<li ng-repeat="item in header.nav_items" 
		id="{{item.id}}" 
		ng-mouseenter="header.iconhover = $id" 
		ng-mouseleave="header.iconhover = ''" 
		ng-class="{'active' : $id === header.selected || $id === header.iconhover}" 
		ng-click="header.selected = $id">
			<div ng-if="item.name === 'About Us'" class="divider" id="top"></div>
			<a ng-class="{'grey-color' : $index < 4}" ng-click="header.checkSrc(item.src)"><img class="icon" src="assets/img/img_trans.gif" al="{{item.alt}}" /><span ng-if="item.name">{{item.name}}</span></a>
			<div ng-if="item.name === 'About Us'" class="divider" id="bottom"></div>
	</li>

	<a ui-sref="home" ng-click="header.selected = ''" class="logo" href="!#"><img src="assets/img/img_trans.gif" alt="icon" alt="logo icon"></a>
</div>