<main>
	<!-- HEADER -->
	<div id="about-header">
		<div id="about-img-wrapper">
			<img id="logo-full" src="assets/img/Kowloon-logo.png" alt="Kowloon full logo">
			<img id="header-img" src="assets/img/about-header.jpg" alt="">
		</div>
	</div>

	<div class="container underheader" id="about-content">
		<!-- TAG -->
		<div class="content-logo-wrapper">
			<img class="logo" src="assets/img/img_trans.gif" alt="">
			<div class="logo-text"><span class="secondary-color">about us</span></div>
		</div>
		<!-- INTRO TEXT -->
		<div class="row">
			<h1>About us</h1>
			<div class="col s8">
				<div id="about-text">
					

					<h5>Kowloon</h5>
					<p>
						Pet Concept, active since 1998, is developing, importing and exporting products for pets worldwide. <br>
						<br>
						natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae sequi nesciunt.
					</p>
				</div>
			</div>
			<!-- CONTACT -->
			<div class="col s3 offset-s1" id="about-contact">
				<h4>Contact</h4>
				<ul class="primary-color">
					<li>Deckx Johan</li>
					<li>Bosdreef 7</li>
					<li>2200 Herentals</li>
				</ul>
			</div>
		</div>
		<!-- FORM -->
		<div class="row">
			<div class="col s8">
				<div id="about-form">
					<h5>Leave us a message</h5>
					<form action="">
						<label for="email">E-mail</label>
						<input type="text" required>
						<label for="message">Your message</label>
						<textarea name="" id="" cols="10" rows="10" required>						
						</textarea>
						<button class="button primary-color">Send</button>
					</form>
				</div>
			</div>
		</div>
		<!-- FAQ -->
		<div class="questions">
			<h5>Frequently asked questions</h5>
			<ul class="collapsible" data-collapsible="expandable">
				<li ng-repeat="question in about.questions" ng-init="$last ? about.collapse() : ''">
					<div ng-click="about.toggleCaret($event)" class="collapsible-header secondary-color"><span>{{question.title}}<i class="fa fa-caret-right right" aria-hidden="true"></i></span></div>
					<div class="collapsible-body"><div><span class="secondary-color">{{question.content}}</span></div></div>
				</li>
			</ul>
		</div>
	</div>

</main>