<main>
	<div class="slider-header">
        <div class="slider">
            <img id="logo-full" src="assets/img/Kowloon-logo.png" alt="Kowloon full logo">
            <ul class="slides">
                <li ng-repeat='img in home.slides' ng-init="$last ? home.startSlider() : ''">
                    <img src="assets/img/{{img}} "> 
                </li>
            </ul>
        </div>
    </div>

    <div id="home-content" class="container under-header">
        <div id="home-intro" class="center-align">
            <p class="secondary-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Duis aute 
               irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
           </div>
           <!-- ICONS -->
           <div id="home-icons" class="row mar-top-xl">
            <div class="col s2" ng-repeat="icon in home.icons">
                <a href="#" ui-sref = >
                <div class="home-icon-wrapper">
                    <img class="home-icon-active" id="home-{{icon.id}}-icon-active" src="assets/img/img_trans.gif" alt="icon {{icon.name}}">
                    <img class="home-icon" id="home-{{icon.id}}-icon" src="assets/img/img_trans.gif" alt="icon {{icon.name}}" ng-mouseover="home.hover = $id" ng-mouseout="home.hover = ''" ng-class="{'fade_out' : $id === home.hover}">
                </div>
                <span class="home-icon-text primary-color">{{icon.name}}</span>
                </a>

            </div>
        </div>
        <!-- HOT ITEMS -->
        <div class="row hot-items-wrapper">
            <div class="col s12">
                <h2 class="white-text">Hot Items.</h2>
            </div>
            <div ng-repeat="item in home.hot_items" class="col s4">
                <div class="hot-item">
                    <div class="color-circles" ng-if="item.colours.length">
                        <div class="color-circle white"></div>
                        <div class="color-circle black"></div>
                        <div class="color-circle blue"></div>
                    </div>
                    <div class="hot-item-overlay" ng-mouseover="home.hover = $id" ng-mouseout="home.hover = ''" ng-class="{'fade_in' : $id === home.hover}">
                        <a ui-sref="productdetails({category: item.category})" href="#">
                            <img src="assets/img/{{item.img}} " alt="">
                            <p>view details</p>
                        </a>
                    </div>
                    <img src="assets/img/hot-item.jpg" alt="Cooling mat for dogs">
                    <p class="hot-item-text">{{item.title}} <span class="right">&euro; {{item.price}}</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12"><a href="#" class="right white-text link">Visit the store</a></div>
        </div>
        <!-- NEWSLETTER -->
        <div class="row news-letter">
            <div class="col s7">
                <h3 class="center-align normal-text">discover amazing <br> Kowloon deals!</h3>
                <p class="center-align">Only in our newsletter</p>
            </div>
            <div id="subscribe" class="col s5">
                <p class="secondary-color">
                    <span class="primary-color">Subscribe to our newsletter</span><br>
                    Lorem ipsum dolor sit amet.
                </p>
                <input type="text"><button>OK</button>
            </div>
        </div>
    </div>
</main>