<main>
	<!-- HEADER SLIDER -->
	<div class="slider-header" id="productheader">
		<div class="slider">
			<img id="logo-full" src="assets/img/Kowloon-logo.png" alt="Kowloon full logo">
			<ul class="slides">
				<li ng-repeat='img in productview.slides'>
					<img src="assets/img/{{img}} "> 
				</li>
			</ul>
		</div>
	</div>


	<div class="container under-header pad-btm-l" id="productview-content">
		<!-- TAGS -->
		<div class="row">
			<div class="col s12">
				<div class="content-logo-wrapper">
					<img class="logo" src="assets/img/img_trans.gif" alt="">
					<div class="logo-text"><div ng-class="productview.currentCategory + '-color'" class="circle"></div><span class="secondary-color capitalize">{{productview.currentCategory.replace("-", " ")}}</span></div>
					<div class="logo-text after"><span class="secondary-color">Splash and Fun</span></div>
				</div>
			</div>
		</div>

		<!-- FILTER -->
		<div class="row">
			<div class="col s12">
				<h1>Dog articles.</h1>
				<div id="filter-wrapper">
					<span ng-click="productview.showFilter = !productview.showFilter" class="white-text choplin-font">filter<i class="mar-left-s" ng-class="productview.showFilter ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i></span>
					<div class="mar-left-l" ng-show="productview.showFilter">
						<form action="">
							<h5 class="arial-font">By collection</h5>
							<div ng-repeat="category in productview.nameFilters" class="filter-box left mar-left-m mar-right-m mar-btm-xl">
								<input id="{{category.name}}" type="checkbox" name="category" ng-model="category.selected" /><span class="pad-left-s secondary-color">{{category.name}}</span>
							</div>
							<h5 class="clear arial-font">Price Range</h5>
							<div class="mar-top-m left" id="range-slider"></div> 
							<div class="range-input left mar-left-s">
								<input id="lowest-range" type="number" min="0" ng-change="productview.updateSliders('min')" ng-model="minrange" type="text"/>
								<span id="euro">&euro;</span>
							</div>
							<div class="range-input left mar-left-m mar-btm-l">
								<input id="highest-range" type="number" min="0" ng-change="productview.updateSliders('max')" ng-model="maxrange" type="text"/>
								<span id="euro">&euro;</span>
							</div>
						</form>
					</div>
					<div class="divider clear grey mar-left-xs  mar-right-xs "></div>
				</div>
			</div>
		</div>
		
		<!-- SORT INPUT -->
		<div class="row">
			<div class="col s12">
				<div id="sort">
					<a id="dd-sort" class='dropdown-button btn' href='' data-activates='sortnames'>Sort by <span>{{productview.selectedSort | uppercase }}</span></a>
					<ul id='sortnames' class='grey-text dropdown-content'>
						<li ng-if="name !== productview.selectedSort" ng-repeat="name in productview.ddSortNames" ng-click="productview.selectedSort = name"><a href="#/view/products/dogs">{{name}}</a></li>
					</ul>
				</div>
			</div>
		</div>
		

		<!-- FIRST 4 ITEMS -->
		<div class="row mar-btm-none">
			<div ng-class="filteredItems.length > 4  ? 'col s6' : 'col s12'">
				<div class="row mar-top-m hot-items-wrapper mar-btm-none">	
					<div ng-show="filteredItems.length === 0">
						<h3>No items found.</h3>
					</div>
					<div ng-repeat="item in filteredItems = (productview.all_items | filter:productview.filterCategories() | filter:productview.filterPrice())">				
						<div ng-if="$index < 4" ng-class="filteredItems.length > 4 ? 'col s6' : 'col s3'" class="pad-s">
							<div class="hot-item">
								<div class="color-circles" ng-if="item.colours.length">
									<div class="color-circle white"></div>
									<div class="color-circle black"></div>
									<div class="color-circle blue"></div>
								</div>
								<div class="hot-item-overlay" ng-mouseover="home.hover = $id" ng-mouseout="home.hover = ''" ng-class="{'fade_in' : $id === home.hover}">
									<a ui-sref="productdetails({category: productview.currentCategory})" href="#">
										<img src="assets/img/hot-item-details.png" alt="">
										<p>view details</p>
									</a>
								</div>
								<img src="assets/img/{{item.img}}" alt="Cooling mat for dogs">
								<p class="hot-item-text">{{item.title}} <span class="right">&euro; {{item.price}}</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- SPOTLIGHT ITEM -->
			<div class="col s6">
				<div class="row mar-top-m hot-items-wrapper mar-btm-none">					
					<div class="col s12 pad-s" id="spotlight" ng-repeat="item in productview.all_items | filter:productview.filterCategories() | filter:productview.filterPrice()" ng-if="$index === 4">
						<div class="hot-item">
							<div class="color-circles" ng-if="item.colours.length">
								<div class="color-circle white"></div>
								<div class="color-circle black"></div>
								<div class="color-circle blue"></div>
							</div>
							<img src="assets/img/{{item.img}}" alt="">
							<div class="info pad-left-m">
								<h4 class="mar-top-xs mar-btm-xs arial-font">{{item.title}}</h4>
								<p class="mar-top-xs mar-btm-xs">{{item.info }}</p>
								<p class="mar-top-xs mar-btm-xs">&euro;{{item.price }}</p>
								<button class="button primary-color right" ng-class="productview.currentCategory + '-color'" ui-sref="productdetails({category: productview.currentCategory})">Want to know more?</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- REMAINING ITEMS -->
		<div class="row mar-top-none" >
			<div class="col s12">
				<div class="row hot-items-wrapper mar-top-none" infinite-scroll="productview.loadMore()" infinite-scroll-distance="1">	
					<div ng-repeat="item in productview.all_items | filter:productview.filterCategories() | filter:productview.filterPrice() | limitTo: productview.numberToDisplay" >	
						<div ng-if="$index > 4" class="col s3 pad-s">
							<div class="hot-item">
								<div class="color-circles" ng-if="item.colours.length">
									<div class="color-circle white"></div>
									<div class="color-circle black"></div>
									<div class="color-circle blue"></div>
								</div>
								<div class="hot-item-overlay" ng-mouseover="home.hover = $id" ng-mouseout="home.hover = ''" ng-class="{'fade_in' : $id === home.hover}">
									<a ui-sref="productdetails({category: productview.currentCategory})" href="#">
										<img src="assets/img/hot-item-details.png " alt="">
										<p>view details</p>
									</a>
								</div>
								<img src="assets/img/{{item.img}}" alt="Cooling mat for dogs">
								<p class="hot-item-text">{{item.title}} <span class="right">&euro; {{item.price}}</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</main>