<main>
	<div id="productdetails-content" class="container pad-top-l">
		<!-- PRODUCT -->
		<div class="row">
			<div class="col s6 item-imgs">
				<img ng-src="assets/img/{{productdetails.pictureCollection[productdetails.activePicture].img}}" alt="">
				<figure ng-click="productdetails.activePicture = $index" class="img-collection" ng-repeat="item in productdetails.pictureCollection" ng-class="{'center-img' : $index === 1}">
					<img class="left mar-btm-xs" src="assets/img/{{item.img}}" alt="" />
					<div ng-class="{'active': productdetails.activePicture != $index}" class="overlay"></div>
					<figcaption class="caption primary-color">Woordje tekst</figcaption>
				</figure>
			</div>
			<div class="col s6 item-info">
				<div class="content-logo-wrapper">
					<img class="logo left" src="assets/img/img_trans.gif" alt="">
					<div class="logo-text"><div ng-class="productdetails.currentCategory + '-color'" class="circle"></div><span class="secondary-color capitalize">{{productdetails.currentCategory.replace("-", " ")}}</span></div>
					<div class="logo-text after"><span class="secondary-color">{{productdetails.currentItem.category}}</span></div>
				</div>
				<h2>{{productdetails.currentItem.title}}</h2>
				<p class="price">{{productdetails.currentitem.price}}</p>
				<h5 class="mar-btm-xs arial-font">Colors</h5>
				<div class="colors" ng-if="productdetails.currentItem.colours.length">
					<div class="color-circle white"></div>
					<div class="color-circle black"></div>
					<div class="color-circle blue"></div>
				</div>
				<h5 class="clear mar-top-m arial-font">Description</h5>
				<p>{{productdetails.currentItem.info}}</p>
				<div class="icon-square left mar-top-m mar-right-m"></div>
				<div class="icon-circle left mar-top-m mar-right-m"></div>
				<div class="icon-triangle left mar-top-m mar-right-m"></div>
			</div>
		</div>
		<div class="divider light-grey mar-left-none mar-right-none mar-btm-xs"></div>
		<!-- PRODUCT SPECIFICATIONS -->
		<div class="row">
			<div class="col s12" id="specifications">
				<h5 class="arial-font">Specifications</h5>
				<p class="primary-color mar-btm-none">DIMENSIONS</p>
				<div class="dimensions">
					<p class="left mar-left-m"><span class="bold">S</span> - Ø 53x18cm</p>
					<p class="left mar-left-m"><span class="bold">M</span> - Ø 53x18cm</p>
					<p class="left mar-left-m"><span class="bold">L</span> - Ø 53x18cm</p>
				</div>
				<p class="primary-color clear mar-btm-none">TITEL</p>
				<div class="titel">
					<p class="mar-left-m mar-btm-none"><span class="bold">S</span> - Tekst over dit product enzo...</p>
				</div>
			</div>
		</div>
		<div class="divider light-grey mar-none mar-btm-s"></div>
		<!-- RELATED -->
		<div class="row">
			<div class="col s12" id="related">
				<h5>Gerelateerde producten</h5>
				<div id="related-imgs">
					<div ng-repeat="item in productdetails.relatedItems track by $index">
						<div class="hot-item">
							<div class="hot-item-overlay" ng-mouseover="home.hover = $id" ng-mouseout="home.hover = ''" ng-class="{'fade_in' : $id === home.hover}">
								<a href="#">
									<img src="assets/img/hot-item-details.png" alt="">
									<p>view details</p>
								</a>
							</div>
							<img src="assets/img/hot-item.jpg" alt="Cooling mat for dogs">
						</div>
					</div>
				</div> 
				<div class="col s12 pad-right-none"><a href="#" class="right white-text link">Visit the store</a></div>
			</div>
		</div>
		<!-- FAQ -->
		<div class="row">
			<div class="col s12 questions">
				<h5>Frequently asked questions</h5>
				<ul class="collapsible" data-collapsible="expandable">
					<li ng-repeat="question in productdetails.questions" ng-init="$last ? about.collapse() : ''">
						<div ng-click="productdetails.toggleCaret($event)" class="collapsible-header secondary-color"><span>{{question.title}}<i class="fa fa-caret-right right" aria-hidden="true"></i></span></div>
						<div class="collapsible-body"><div><span class="secondary-color">{{question.content}}</span></div></div>
					</li>
				</ul>
				<div class="col s12 pad-right-none"><a href="#" class="right white-text link">More questions?</a></div>
			</div>
		</div>
		<!-- SUBSCRIBE -->
		<div class="row news-letter">
			<div class="col s7">
				<h3 class="center-align">Discover amazing <br> Kowloon deals!</h3>
				<p class="center-align">Only in our newsletter</p>
			</div>
			<div id="subscribe" class="col s5">
				<p class="secondary-color">
					<span class="primary-color">Subscribe to our newsletter</span><br>
					Lorem ipsum dolor sit amet.
				</p>
				<input type="text"><button>OK</button>
			</div>
		</div>
	</div>
</main>